PANOSLib/XML/Schema/AllAddressesResponse.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="response">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="result">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="address">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="entry">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="ip-range" type="xs:string" />
                          <xs:element minOccurs="0" name="ip-netmask" type="xs:string" />
                          <xs:element minOccurs="0" name="description" type="xs:string" />
                          <xs:element minOccurs="0" name="tag">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="member" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="name" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="status" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>